@font-face {
    font-family: 'Creato Display';
    src: url(./assets/CreatoDisplay-Regular.otf);
}
@font-face {
    font-family: 'Creato Bold';
    src: url(./assets/CreatoDisplay-Medium.otf);
}
@font-face {
    font-family: 'relation';
    src: url(./assets/Relationship\ of\ mélodrame.ttf);
}
@font-face {
    font-family: 'Magilo';
    src: url(./assets/Magioline.ttf);
}
@font-face {
    font-family: 'lemon';
    src: url(./assets/LEMONMILK-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creato Display';
}
html, body{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

#main{
    position: relative;
    overflow-x: hidden;
    
}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    position: relative;
    
}

#nav-left{
    height: 70px;
    width: 70px;
    /* background-color: blue; */
}
#nav-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#nav-center{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 2vw;
}
#nav-center h2{
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
}
#nav-center h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black; /* underline color */
    transition: width 0.3s ease-in-out;
}
#nav-center h2:hover::after {
    width: 100%;
}

#nav-right{
    border: 1px solid black;
    padding: 10px 28px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.4s ease; /* Smooth transition */
}

#nav-right:hover {
    transition: left 0.4s ease;
    color: rgb(255, 255, 255);
    background-color: #2b698d;
    border: none;
}

#nav-right h2{
    font-size: 1vw;
    font-weight: 600;
}
#menu{
    display: none;

}
#menu h2{
    font-size: 1.3vw;
   
}

#hero-section{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10vh; */
    padding: 0px 60px;
    /* background-color: aqua; */
    position: relative;
}
#designer{
    /* background-color: red; */
    margin-left: 10vw;
}
#designer h1{
    font-size: 5.5vw;
    line-height: 4.5vw;
    font-weight: 400;
    font-family: 'relation';
}

#designer h1:nth-child(2){
    margin-left: 4vw;
}

#profile-photo{
    margin-top: 20%;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 0vw;
    /* background-image: url(./assets/Profile-2.webp); */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
#profile-photo img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
}

/* #profile-photo img:hover{
    opacity: 0;
    transition: 0.4s ease-in-out;
} */

#about{
    /* background-color: blueviolet; */
    width: 20%;
    margin-right: 10vw;
}
#about h2{
    font-size: 1.3vw;
}
h2::selection{
    background-color: #000000;
    color: #ffffff;
}
#about h2 span{
    color: #10374e;
}

#hero-bottom{
    height: 10vh;
    width: 100%;
    /* background-color: rgb(255, 166, 0); */
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    position: relative;
}
#hero-bottom:hover .skills-track{
    animation-play-state: paused;
    cursor: pointer;
   
}
#hero-bottom::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 350px;
    content: "";
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
    z-index: 2;

}
#hero-bottom::after{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
    z-index: 2;

}
.skills-track{
    display: flex;
    padding: 25px 0;
    animation: 20s skillTrack linear infinite ;
    /* background-color: red; */
   
}

.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}
.skill h3, i{
    font-size: 2vw;
    color: #121212d3;
    margin: 2px;
}
@keyframes skillTrack {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#assets{
    height: 100vh;
    width: 100%;
    padding: 100px 30px;
    background-color: #ffffff;
    margin-bottom: 10vw;
}
#assets-top{
    display: flex;
    justify-content: space-between;
    /* background-color: lightcoral; */
}
#assets-top h5{
    font-size: 1vw;
}
#assets-center{
    margin-top: 7vw;
    padding: 0px 0px;
}
#assets-heading{ 
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#assets-heading h1{
    font-size: 1.5vw;
} 
#assets-heading h1 span{
    font-size: 1.8vw;
    font-family: 'Relation';
}
#assets-heading h4{
    font-size: 1.6vw;
} 
#assets-container{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 100px 0;
    margin-top: 6vw;
    overflow: hidden; /* optional safeguard */
}
.assets-photo{
    height: 350px;
    width: 250px;
}
.assets-photo h5{
    font-size: 1vw;
    padding-bottom: 10px;
}
.assets-photo img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.photo-bottom-text{
    display: flex;
    justify-content: space-between;
}
.photo-bottom-text h3{
    padding-top: 5px;
    font-size: 0.7vw;
}
#banner{
    /* height: 100vh; */
    width: 100%;
    position: relative;
    
}
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 30px;
    /* background-color: red; */
}
.div i{
    font-size: 5vw;
    font-weight: 900;
}
.div h1{
    font-size: 5.5vw;
    padding-right: 1vw;
}
.div h4{
    font-size: 1vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slogan{
    margin-top: 5vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rosybrown; */
}
.slogan h1{
    font-size: 2vw;
    text-align: center;
}
.banner-video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.banner-video{
    height: 30%;
    width: 0%;
    position: absolute;
    top: 30%;
    /* left: 15%; */
    left: 50%;
    transform: translateX(-50%);
}
.banner-video video{
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
    object-fit: cover;
}
.banner-bottom{
    display: flex;
    width: 100%;
    /* background-color: rgb(140, 65, 65); */
    overflow: hidden;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    margin-top: 5vw;

}
.banner-bottom h1{
    font-size: 40vw;
    font-family: 'Relation';
    letter-spacing: 0vw;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    left: -50vw;
    top: 19vw;
}
#stories{
    color: #EEEEEE;
    /* height: 100vh; */
    width: 100%;
    position: relative;
    background-color: #000000;
}
#story-description{
    padding: 5vw 0;
    overflow: hidden;
}
#story-description h1{
    font-size: 15vw;
    margin-left: -2.8vw;
}
.story-text{
    margin-top: -3vw;
    display: flex;
    justify-content: space-evenly;
    
}
.story-text h5{
    font-size: 1vw;
}
#photo-collage{
    padding: 2vw 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
   
}
.photo-collage2{
    margin-top: -2vw;
}

.box{
    height: 350px;
    width: 350px;
  
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* .footer-text{
    writing-mode: vertical-lr;
    transform: rotate(0deg);
} */


#footer{
    /* height: 100%; */
    width: 100%;
    background-color: #000000;
    padding: 5vw 30px;
}

.footer-title{
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-title h1{
    font-family: 'Creato Bold';
    font-size: 4vw;
    font-weight: 300
}
.footer-title h3{
    font-size: 1.5vw;
    font-weight: 300;
}

#footer-content{
    padding: 5vw 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #EEEEEE;
}
#footer-content h5{
    position: relative;
    font-weight: 300;
    font-size: 0.8vw;
    cursor: pointer;
    line-height: 1.vw;
}
#footer-content h5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; /* You can adjust thickness */
    width: 0;
    background-color: #EEEEEE; /* Change color if needed */
    transition: width 0.3s ease-in-out;
}
#footer-content h5:hover::after {
    width: 100%;
}
#footer-content i{
    color: #EEEEEE;
    font-size: 0.8vw;
}
.social-icon{
    display: flex;
    flex-direction: column;
}



@media (max-width: 600px){
    #nav{
        height: 10vh;
        width: 100vw;
        /* background-color: red; */
        padding: 5px 30px;
    }
    
    #nav-left{
        height: 60px;
        width: 60px;
    }
    #nav-center{
        display: none;
    }
    #nav-center h2{
        font-size: 1.2vw;
    }
    #nav-right{
        display: none;
    }
    #menu{
        display: block;
        /* background-color: black; */
        border-radius: none;
        /* padding: 5px 15px; */
    }
    #menu i{
        font-size: 6.5vw;
    }
    #hero-section{
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 50px 60px;
    }
    #designer{
        display: flex;
        gap: 0.4rem;
        margin-left: 0vw;
    }
    #designer h1{
        text-align: center;
        font-size: 10.5vw;
        line-height: 8.5vw;
    }
    #designer h1:nth-child(2){
        margin-left: 0vw;
        text-transform: capitalize;
    }
    #profile-photo{
    top: 37%;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 0vw;
    /* background-image: url(./assets/Profile-2.webp); */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}


    #about{
        width: 100%;
        margin-right: 0vw;
    }
    #about h2{
        text-align: center;
        font-size: 3.3vw;
    }
    #hero-bottom{
        height: 10vh;
        width: 100%;
        /* background-color: rgb(255, 166, 0); */
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        position: relative;
    }
    .skill h3, i{
        font-size: 6vw;
        margin: 2px;
    }
    .skill{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 40px;
    }
    #assets{
        padding: 20px 30px;
    }
    #assets-top{
        display: flex;
        align-items: center;
        padding: 10px 0;
        /* background-color: lightcoral; */
    }
    #assets-top h5{
        font-size: 2.3vw;
    }
    #assets-center{
        padding: 30px 0px;
    }
    #assets-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 5.5vw;
        margin-top: 10vw;
        /* background-color: lightcyan; */
    }
    #assets-heading h1{
        font-size: 8vw;
        letter-spacing: 0vw;
    } 
    #assets-heading h1 span{
    font-size: 10vw;
    font-family: 'Relation';
    letter-spacing: 0.1vw;
    }
    
    #assets-heading h4{
        font-size: 5vw;
    } 
    #assets-container{
        /* background-color: red; */
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE/Edge */
        -webkit-overflow-scrolling: touch; /* iOS smooth scrolling */
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 1vw;
        padding: 70px 0px;
        /* margin-left: 3.2vw; */
    }
    .assets-photo{
        flex-shrink: 0;
        height: 350px;
        width: 300px;
    }
    .assets-photo h5{
        font-size: 3vw;
        /* padding-bottom: 20px; */
    }
     .assets-photo h3{
        font-size: 2vw;
    }
    
    #banner{
        /* height: 100vh; */
        width: 100%;
        position: relative;
        margin-bottom: -10vw;
        margin-top: -35vw;
        
    }
    .banner-video{
    height: 30%;
    width: 0%;
    position: absolute;
    top: 40%;
    /* left: 15%; */
    left: 50%;
    transform: translateX(-50%);
}
    .banner-bottom{
        margin-top: 35vh;
    }

    .div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 15px;
    /* background-color: red; */
    margin-top: 10vh;
    }   

    .div i{
    font-size: 8vw;
    }

    .div h1{
        font-size: 7.5vw;
    }

    .div h4{
        font-size: 2vw;
    } 

    .slogan{
    margin-top: 10vh;
    }

    .slogan h1{
    font-size: 4vw;
    }  

    .banner-bottom{
    bottom: -105%;
    }

    .banner-bottom h1{
    font-size: 50vw;
    }

    #story-description{
    padding: 15vw 0 0 0; 
    overflow: hidden;
    }

    #photo-collage{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 2vw;
    margin: 15vw 0;
    width: 100%;
    margin-bottom: -1vw;
    }

    .box{
    height: 190px;
    width: 190px; 
    }̀̀

    .story-text h5{
    font-size: 10vw;
}

#footer{
    padding: 20vw 20px;
}

.footer-title h1{
    font-size: 7vw;
}
.footer-title h3{
    font-size: 3.5vw;
}
#footer-content{
    margin-top: 4vh;
    padding: 5vw 2px 0px 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: #EEEEEE;
    line-height: 2.2vh;
}
#footer-content h5{
    font-weight: 300;
    font-size: 3vw;
}
#footer-content i{
    color: #EEEEEE;
    font-size: 2.5vw;
}
.social-icon{
    display: flex;
    flex-direction: column;
}
    
}